:root {
   --bg-color: #FFF !important;
   --color: #191919 !important;
   --border-color-1: #2F3437 !important;
   --border-color-2: rgba(55, 53, 47, 0.16) !important;
   --apagar-border: rgba(55, 53, 47, 0.16) !important;
   --apagar-color: #3C4144 !important;
   --apagar-hover-bgcolor: rgb(239, 239, 238) !important;
   --apagar-hover-color: ##3C4144 !important;
   --apagar-hover-border: rgba(55, 53, 47, 0.16) !important;
   --apagar-active-bgcolor: rgb(223, 223, 222) !important;
   --apagar-active-color: #3C4144 !important;
   --apagar-active-border: rgba(55, 53, 47, 0.16) !important;
   --container-formulas-bgcolor: #FFF !important;
   --container-formulas-border: rgba(55, 53, 47, 0.16) !important;
   --container-fb-border: rgba(255, 255, 255, 0.132) !important;
}

.dark {
   --bg-color: #191919 !important;
   --color: #FFF !important;
   --border-color-1: #2F3437 !important;
   --border-color-2: #5a6265 !important;
   --apagar-border: #454b4e !important;
   --apagar-color: rgba(255, 255, 255, 0.81) !important;
   --apagar-hover-bgcolor: rgba(255, 255, 255, 0.13) !important;
   --apagar-hover-color: rgba(255, 255, 255, 0.81) !important;
   --apagar-hover-border: rgba(255, 255, 255, 0.13) !important;
   --apagar-active-bgcolor: rgba(37,37,37) !important;
   --apagar-active-color: color: rgba(255, 255, 255, 0.81) !important;
   --apagar-active-border: rgba(255, 255, 255, 0.13) !important;
   --container-formulas-bgcolor: #2F3437 !important;
   --container-formulas-border: #2F3437 !important;
   --container-fb-border: rgba(255, 255, 255, 0.132) !important;
}

* {
   transition: none;
}

.loaded * {
   transition: all 0.4s ease;
}

body {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   background-color: var(--bg-color);
   color: var(--color);
}

.container-notas {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 30px 0;
}

.container-notas label{
   padding: 0 15px;
   font-size: 110%;
}

input[type=number]::-webkit-inner-spin-button { 
   -webkit-appearance: none;
}
input[type=number] { 
  -moz-appearance: textfield;
  appearance: textfield;
}

.container-notas input {
   width: 30px;
   background-color: transparent;
   border: none;
   border-bottom: 1px solid var(--border-color-1);
   color: var(--color);
   text-decoration: none;
   padding: 3px 12px;
   text-align: center;
}

.container-notas input:focus {
   outline: none;
   border-color: var(--border-color-2);
}

#container-botao {
   width: 100%;
   margin-top: 40px;
   text-align: center;
}

.apagar{
   cursor: pointer;
   margin: 0 20px;
   padding: 5px 10px;
   border: 1px solid var(--apagar-border);
   border-radius: 5px;
   background-color: var(--bg-color);
   color: var(--apagar-color);
   transform: scale(120%);
}

.apagar:hover {
   background-color: var(--apagar-hover-bgcolor);
   color: var(--apagar-hover-color);
   border-color: var(--apagar-hover-border);
}

.apagar:active {
   background-color: var(--apagar-active-bgcolor);
   color: var(--apagar-active-color);
   border-color: var(--apagar-active-border);
}

#container-formulas {
   background-color: var(--container-formulas-bgcolor);
   border: 1px solid var(--container-formulas-border);
   border-radius: 20px;
   height: fit-content;
   width: fit-content;
   margin: auto;
   text-align: center;
   padding: 20px;
}

#container-f{
   width: 100%;
   margin: 0 auto;
   text-align: center;
   font-size: 110%;
}

#container-fb {
   border-top: 1px solid var(--container-fb-border);
   width: 400px;
   margin: 0 auto;
   text-align: center;
   font-size: 110%;
}