body {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   background-color: #FFF;
   color: #191919;
}

.container-notas {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 30px 0;
}

.container-notas label{
   padding: 0 15px;
   font-size: 110%;
}

input[type=number]::-webkit-inner-spin-button { 
   -webkit-appearance: none;
}
input[type=number] { 
  -moz-appearance: textfield;
  appearance: textfield;
}

.container-notas input {
   width: 30px;
   background-color: #FFF;
   border: none;
   border-bottom: 1px solid #2F3437;
   color: #191919;
   text-decoration: none;
   padding: 3px 12px;
   text-align: center;
}

.container-notas input:focus {
   outline: none;
   border-color: #5a6265;
   transition: all 0.2s ease;
}

#container-botao {
   width: 100%;
   margin-top: 40px;
   text-align: center;
}

.apagar{
   cursor: pointer;
   margin: 0 10px;
   padding: 5px 10px;
   border: 1px solid rgba(55, 53, 47, 0.16);
   border-radius: 5px;
   background-color: #FFF;
   color: #3C4144;
   transform: scale(120%);
}

.apagar:hover {
   background-color: rgb(239, 239, 238);
   color: #191919;
}

.apagar:active {
   background-color: rgba(223, 223, 222);
   color: #191919;
}

#container-formulas {
   background-color: #FFF;
   border: 1px solid rgba(55, 53, 47, 0.16);
   border-radius: 20px;
   height: fit-content;
   width: fit-content;
   margin: auto;
   text-align: center;
   padding: 20px
}

#container-f{
   width: 100%;
   margin: 0 auto;
   text-align: center;
   font-size: 110%;
}

#container-fb {
   border-top: 1px solid rgba(255, 255, 255, 0.132);
   width: 400px;
   margin: 0 auto;
   text-align: center;
   font-size: 110%;
}

@media(prefers-color-scheme: dark) {
   body {
      background-color: #191919;
      color: white;
   }
   .container-notas input {
      background-color: #191919;
      border-bottom: 1px solid #2F3437;
      color: #FFF;
   }
   
   .container-notas input:focus {
      border-color: #5a6265;
   }

   .apagar{
      border: 1px solid #454B4E;
      background-color: #191919;
      color: rgba(255, 255, 255, 0.81);
   }
   
   .apagar:hover {
      background-color: rgba(255, 255, 255, 0.13);
      color: rgba(255, 255, 255, 0.81);
      border-color: rgba(255, 255, 255, 0.13);
   }
   
   .apagar:active {
      background-color: rgba(37,37,37);
      color: rgba(255, 255, 255, 0.81);
      border-color: rgba(255, 255, 255, 0.13);
   }
   
   #container-formulas {
      background-color: #2F3437;
      border: 1px solid #2F3437;
   }
   
   #container-fb {
      border-top: 1px solid rgba(255, 255, 255, 0.132);
   }
}